body {
    background-color: burlywood;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
}

.principal {
    
    border-radius: 15px;
    border: black 1px solid;
    background-color: white;
    min-height: 80vh;
    width: 50vh;
}

li{
    padding-top: 15px;
}

.titulo {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
}